@import "_mq";
@import "_fonts";
@import "_palette";
@import "_app-fonts";
@import "_mixins";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

// Default breakpoints from Frontend
// Use mc() in place of mq() so your thrashers don't get broken
$mq-breakpoints: (mobile: 320px,
    mobileMedium: 375px,
    mobileLandscape: 480px,
    phablet: 660px,
    tablet: 740px,
    desktop: 980px,
    leftCol: 1140px,
    wide: 1300px);

$primary: #FF7F0F;

// update 'australian_moment' with yours
$containerName:'australian_moment';
// colours pulled from shared/css/_palette.sass
$backgroundColor:$primary;
$textColor: $neutral-7;
$buttonColor:$neutral-7;
$buttonHoverColor:$neutral-46;



// this targets the container your thrasher is put inside on Fronts
section#support-the-guardian {
    width: 100%;
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    background-color: #fff;

    .fc-container__inner,
    .fc-slice,
    .facia-snap {
        overflow: hidden;
    }

    .facia-snap {
        padding: 0;
    }
}

.#{$containerName} {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: $backgroundColor;

    @include mq($until: mobile) {
        display: inline-block;
    }

    @include mq($from: mobile, $until: mobileLandscape) {
        display: inline-block;
    }

    @include mq($from: mobileLandscape, $until: tablet) {
        display: inline-block;
    }

    @include mq($from: tablet, $until: desktop) {
        height: 320px;
    }

    @include mq($from: desktop, $until: wide) {
        height: 320px;
    }

    @include mq($from: wide) {
        height: 320px;
    }


    &__title {

        height: 0px;
        background-repeat: no-repeat;
        z-index: 99;
        margin-top: 20px;
        margin-left: 20px;

        @include mq($until: tablet) {
            width: calc(100% - 80px);
            padding-bottom: 18%;
            margin-left: 10px;
            margin-top: 10px;
        }

        @include mq($from: tablet) {
            width: 360px;
            padding-bottom: 10%;
            position: absolute;
        }

        @include mq($from: desktop) {
            width: 430px;
            padding-bottom: 10%;
            position: absolute;
        }

        @include mq($from: leftCol) {
            width: 560px;
            padding-bottom: 10%;
            position: absolute;
        }

        @include mq($from: wide) {
            width: 600px;
            padding-bottom: 10%;
            position: absolute;
        }

    }

    &__camera {
        width: 20px;
        width: 20px;
        margin-right: 5px;
        margin-left: 10px;
        float: left;
        background-image: url('https://interactive.guim.co.uk/embed/aus/2020/social/Video.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__headline {
        color: $textColor;
        font-family: "GuardianTitlepiece", "Guardian Headline Full", "Guardian Egyptian Web", Georgia, serif;
        font-size: 34px;

        @include mc ($from: mobileLandscape) {
            color: $textColor;
        }
    }

    &__component-button_left {
        // mixin takes 3 variables:
        // background-color, text-color, hover-background-color
        @include component-button($bgColor: #121212, $color: #fff, $hoverBgColor: #454545);
        float: left;
        margin-right: 10px;
        transition: background-color 0.3s ease;
    }

    &__component-button_right {
        // mixin takes 3 variables:
        // background-color, text-color, hover-background-color
        @include component-button($bgColor:transparent, $color: #121212, $hoverBgColor: #FFDFC6);
        float: left;
        border: 1px solid #121212;
        transition: background-color 0.3s ease;

        @include mq($until: phablet) {
            margin-top: 10px;
        }
    }

    .primary {
        @include component-button($bgColor: #121212, $color: #fff, $hoverBgColor: #454545);
        float: left;
        margin-right: 10px;
        transition: background-color 0.3s ease;
        margin-right: 0;
    }

    &__roundel {
        // mixin makes roundel sit top right of thrasher and move with grid
        @include roundel-top-right;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__actions {

        z-index: 99;

        @include mq($until: tablet) {
            width: calc(100% - 40px);
            ;
            padding-top: 10px;
            margin: auto;
            display: block;
        }

        @include mq($from: tablet) {
            position: absolute;
            left: 20px;
            bottom: 20px;
        }

    }

    &__info {
        width: 100%;
        z-index: 99;

        @include mq($until: tablet) {
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: calc(100% - 40px);
            margin: auto;
        }

        @include mq($from: tablet) {
            max-width: 440px;
            position: absolute;
            left: 20px;
            bottom: 80px;
        }



        p {
            font-size: 15px;
            line-height: 18px;
            font-family: $f-sans-serif-text;
        }

        h4 {
            font-size: 17px;
            line-height: 19px;
            font-family: $f-serif-text;
        }
    }

    &__wrapper_contribute,
    &__wrapper_contribute {}

    &__planets {

        background-position: center middle;
        background-size: 100%;
        overflow: hidden;
        margin-top: 12px;

        @include mq($until: mobile) {
            width: 100%;
            height: 0px;
            padding-bottom: 40%;
        }

        @include mq($from: mobile, $until: mobileLandscape) {
            width: 100%;
            height: 0px;
            padding-bottom: 40%;
        }

        @include mq($from: mobileLandscape, $until: tablet) {
            width: 100%;
            height: 0px;
            padding-bottom: 40%;
        }

        @include mq($from: tablet, $until: desktop) {
            position: absolute;
            top: 0px;
            right: -250px;
            bottom: 0px;
            width: 800px;
            height: 100%;
        }

        @include mq($from: desktop, $until: wide) {
            position: absolute;
            top: 0px;
            right: -100px;
            bottom: 0px;
            width: 800px;
            height: 100%;
        }

        @include mq($from: wide) {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            width: 800px;
            height: 100%;
        }

        svg {

            .venus {
                font-family: $f-sans-serif-text;

                @include mq($until: mobileLandscape) {
                    font-size: 28px;
                }

                @include mq($from: mobileLandscape) {
                    font-size: 14px;
                }
            }

            .mars {
                font-family: "GuardianTitlepiece", "Guardian Headline Full", "Guardian Egyptian Web", Georgia, serif;


                @include mq($until: mobileLandscape) {
                    font-size: 55px;
                    background-color: none;
                }

                @include mq($from: mobileLandscape) {
                    font-size: 50px;
                }

            }

        }
    }

    &__wrapper {
        display: inline-block;
    }

    &__ios {
        display: none;
    }

    .interactive-share {
        height: 45px;
        width: 45px;
        border-radius: 34px;
        display: inline-block;
        border: none;
        cursor: pointer;
        outline: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45px;
        border: 0;
    }

    .share_label {
        float: right;
        line-height: 45px;
        font-family: $f-sans-serif-text;

        @include mq($until: mobileLandscape) {
            font-size: 12px;
        }

        @include mq($from: tablet, $until: desktop) {
            display: none;
        }

    }

    .social_isolation {

        cursor: pointer;

        @include mq($until: mobileLandscape) {
            width: 260px;
        }

        @include mq($from: mobileLandscape, $until: tablet) {
            width: 300px;
        }

        @include mq($until: tablet) {
            padding-top: 10px;
            clear: both;
        }

        @include mq($from: tablet) {
            width: 320px;
            float: left;
        }

        .interactive-share:hover {
            background-color: #bdbdbd;
            border: 0;
            cursor: pointer;
        }

        .interactive-share[data-network='facebook'] {
            background-color: rgba(0, 0, 0, 0);
            background-image: url('https://interactive.guim.co.uk/embed/aus/2020/social/facebook.svg');
            margin-right: 5px;
            border: 1px solid black;

            @include mq($until: tablet) {}

            @include mq($from: tablet) {
                margin-left: 20px;
            }

        }

        .interactive-share[data-network='twitter'] {
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid black;
            background-image: url('https://interactive.guim.co.uk/embed/aus/2020/social/twitter.svg');
            margin-right: 5px;
        }

        .interactive-share[data-network='email'] {
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid black;
            background-image: url('https://interactive.guim.co.uk/embed/aus/2020/social/email.svg');
        }

    }


}


// this removes margins from Android / iOS view
.interactive-atom {
    margin: 0;
    overflow: hidden;
}


:not(.hide-support-messaging) {

    .australian_moment__title {
        background-image: url("https://uploads.guim.co.uk/2020/07/17/new_title5.svg");
    }

    .australian_moment__wrapper_contribute {
        display: inline-block;
    }

    .australian_moment__wrapper_thanks {
        display: none;
    }

}

.hide-support-messaging {

    .australian_moment__title {
        background-image: url("https://uploads.guim.co.uk/2020/07/17/new_title5.svg");
    }

    .australian_moment__wrapper_contribute {
        display: none;
    }

    .australian_moment__wrapper_thanks {
        display: inline-block;
    }

}

.facia-snap {
    overflow: hidden;
}

// iOS and Android specific styles
.#{$containerName} {

    .android &,
    .ios & {
        overflow: hidden;
        margin: 0;
        padding: 0;

        &__component-button {
            span {}
        }
    }
}

// iOS and Android specific styles
.#{$containerName} {
    .ios & {
        overflow: hidden;

        &__actions {
            display: none;
        }

        &__ios {
            width: 190px;
            height: 36px;
            background-repeat: no-repeat;
            margin-left: 20px;
            margin-top: 0px;
            margin-bottom: 20px;
            background-image: url('https://interactive.guim.co.uk/embed/aus/2020/social/ios.svg');

            @include mq($until: mobileLandscape) {
                display: block;

                :hover {
                    opacity: 0.6;
                }

            }

            @include mq($from: mobileLandscape) {
                display: none;
            }


        }

        p {
            font-family: Guardian Text Sans Web, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
        }

        h4 {
            font-family: "Guardian Headline Full", Georgia, serif;
        }
    }
}